.back{
    background-image:url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
}
.image{
    border-radius: 50%;
}
.size1{
    height:500px; width:100%;
}
.color{
    background-color: aquamarine;
}
.center{
    text-align: center;
}