body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .jewellimg{
  height: 350px !important;
  width: 250px !important;
} */
img{
  height: 350px;
  width:250px;
}

.hello-title {
  color: #dc3545; /* Text color */
  font-size: 3rem; /* Font size */
  font-weight: bold; /* Bold font weight */
  animation: fadeInUp 1s ease-in-out; /* Animation */
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Additional styles can be added as needed */
