.back{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj42GPsx_pv5rtVakkZGwWfmrj0E8ICXc9v9mQdzWjYc6A_AMg29gbv30ADVoP10VWyFc&usqp=CAU");
    background-repeat: no-repeat ;
    background-size: cover;

}
.size2{
    height: 100px; width: 100%;
}
.size3{
    height: 200px; width: 100%;
}
.size4{
    font-size: 70px;
    font-weight: bolder;
}
.size5{
    width: 90px;
    border-radius: 10px;
    background-color: darkgoldenrod;
    color: aliceblue;
}
.size6{
    width: 120px;
    border-radius: 10px;
    background-color:aliceblue;
    color:black;
}
.size7{
    width: 90px;
    border-radius: 10px;
    background-color:blue;
    color: aliceblue;
}